<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all" th:text="${subject}">[subject]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">

    </style>
</head>
<body>
<h2>Witaj!</h2>
<p>Dziękujemy za zakup dostępu do: <span th:text="${eventName}">[eventName]</span></p>
<p>
    <strong>Twój kod dostępu to: <span th:text="${accessCode}">[accessCode]</span></strong><br/>
    Event obejrzysz na naszej stronie: <a href="www.standup-online.pl" target="_blank">www.standup-online.pl</a>
</p>

<ul>Często zadawane pytania:
    <li>Do zalogowania się na event potrzebny będzie tylko kod dostępu.</li>
    <li>Jeśli oglądasz event LIVE wybierz przeglądarkę Google Chrome, w przypadku zacinania się transmisji pomóc może
        obniżenie jakości (kliknij w koło zębate w rogu ekranu i ustaw mniejszą wartość).
    </li>
    <li>Z jeden kod dostępu = jedno urządzenie, jeśli na ten sam kod zaloguje się w tym samym czasie ktoś inny,
        transmisja
        pierwszej osoby zostanie przerwana.
    </li>
    <li>W razie potrzeby zapraszamy do kontaktu pod adres mailowy: informacja@standup-online.pl</li>
</ul>
<p>Pozdrawiamy serdecznie, <br/>
    Zespół Standup-online<br/>
    <a href="www.standup-online.pl" target="_blank">www.standup-online.pl</a><br/>
</p>
</body>
</html>