/*body {*/
/*    background-color: black;*/
/*}*/
h2.standup {
    background-color: #FFD500;
    text-align: center;
    color: black;
}
.eventFlexCard {
    width: 310px
}
.col-yellow-standup{
    background-color: #FFD500;
}
.bg-yellow-standup{
    background-color: #FFD500;
}
button.standup {
    background-color: #FFD500;
    margin-left: 10px;
    margin-top: 24px;
}
.blackBackground{
    background-color: black;
    color: white;
}
.blackFont {
    color: black;
    font-weight: bold;
}
.whiteFont {
    color: white;
}
.w100 {
    width: 100%
}
.underline {
    text-decoration: underline;
}
.img_hv {
    max-width: 100%;
    max-height: 100%;
}
.img_v {
    max-height: 100%;
}
.img_h {
    max-width: 100%;
}
.center {
    text-align: center;
}
.myFooter {
    background-color: black;
    color: white;
}
.myFooterLinks {
    padding: 50px 0;
    color: white;
}
.myFooterSponsors {
    margin-top: 50px;
}
.verticalScrolling {
    height: 60vh;
    /*height: calc(100vh - 250px);*/
    overflow-y: scroll;
}
/*h1 {*/
/*    color: #ffd500;*/
/*    text-align: center;*/
/*}*/
/*h2 {*/
/*    background-color: #ffd500;*/
/*    text-align: center;*/
/*    color: black;*/
/*}*/
/*h2 a {*/
/*    color: black;*/
/*}*/
/*li {*/
/*    color: white;*/
/*}*/
